
@model IEnumerable<DonViTinh>
@{
    ViewData["Title"] = "Index";
}

@if(TempData["Thanh cong"] != null){

    <h2>@TempData["Thanh cong"]</h2>
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Danh Sach Don Vi Tinh</h2>
        </div>
        <div class="col-6">
            <a asp-controller="DonViTinh" asp-action="Create" class="btn btn-primary">Tao DVT</a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Ma Don Vi Tinh
            </th>
            <th>
                Ten Don Vi Tinh
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.MaDVT
                </td>
                <td width="50%">
                    @obj.DVTinh
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="DonViTinh" asp-action="Edit" asp-route-id="@obj.ID" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                    </div>
                </td>
                                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="DonViTinh" asp-action="Delete" asp-route-id="@obj.ID" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

